bind_address localhost
port 8884
persistence false

connection sanji-remote-$id
address 192.168.31.81:8883
clientid $id
cleansession true
topic # in 2 / /$id/
topic /+/controller out 2
topic /+/remote out 2
notifications true
notification_topic /cgs/$id/connection_status
$bridge_secret

connection sanji-internel
address localhost:1883
clientid $id-internel
cleansession true
topic # both 2
